.central {
  margin: 0 auto;
  position: relative;
  height: 100vh;
  width: 60%;
  color: #123c69;
  display: flex;
  flex-direction: column;
}

.dictaphone {
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100vh;
  font-size: xx-large;
}
